* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #0b0b0b;
  color: #fff;
  line-height: 1.2;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: #000;
  align-items: center;
  top: 0;
}

.navbar nav a {
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}

.order-btn {
  padding: 18px 25px;
  margin: 10px;
  border-radius: 50px;
  background: red;
  border: none;
  color: #fff;
  cursor: pointer;
}
.order-btn1 {
  padding: 18px 25px;
  margin: 10px;
  border-radius: 50px;
  border: 1px solid #fff;
  color: white;
  cursor: pointer;
  background-color: black;
}
.full-hero {
  width: 100%;
  height: 100vh; /* FULL SCREEN HEIGHT */
  overflow: hidden;
}

.full-hero img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Image ko crop kar ke FULL screen fill karega */
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  padding: 60px 40px;
  align-items: center;
}

.hero h1 {
  font-size: 40px;
  font-weight: 700;
}

.hero h1 span {
  color: #ff4500;
}

.order-now {
  margin-top: 20px;
  padding: 12px 22px;
  background: red;
  border: none;
  cursor: pointer;
  color: #fff;
}

.hero-img {
  width: 350px;
}

/* BRANDS */
.brands {
  text-align: center;
  padding: 60px 0;
}

.brands h2 span {
  color: red;
}

.brand-boxes {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.box {
  background: #1a1a1a;
  padding: 20px 40px;
  margin: 10px;
  border: 1px solid #333;
  cursor: pointer;
}

/* FRANCHISE */
.franchise {
  padding: 50px 40px;
}

.franchise-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 30px;
}

.f-card,
.e-card {
  background: #1a1a1a;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}

.f-card img,
.e-card img {
  width: 100%;
  border-radius: 5px;
}

.f-card button,
.e-card button {
  margin-top: 15px;
  background: red;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

/* EXPRESS SECTION */
.express {
  padding: 50px 40px;
}

.express-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

/* FOOTER */
.footer {
  background: #000;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.footer-box a {
  display: block;
  color: #eee;
  margin: 3px 0;
}
.image {
  margin-top: 40px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brand-boxes {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brand-boxes .box {
  border: 1px solid #333;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
